.header {
    padding: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color:rgb(56, 56, 56)
}

.column {
    text-align: center;
    float: left;
    width: 25%;
    height: auto;
    padding: 0 5px;
    margin-left: 5%;
    margin-bottom: 50px;
}

.infoSection {
    text-align: center;
    float: right;
    width: 85%;
    padding: 0 10px;
    margin-left: 5%;
    margin-bottom: 100px;
}

.card {
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 239, 245);
    height: auto;
    box-shadow: 0 5px 10px 0 gray;
}

.image {
    height: 100%;
    width: 50%;
}